@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 50ch;
    background-color: hsla(0, 0%, 100%, 0.308);
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}